<div id="<%= dom_id assignment %>">
  <div>
    <strong>Title:</strong>
    <%= assignment.title %>
  </div>

  <div>
    <strong>Course name:</strong>
    <%= assignment.course_name %>
  </div>

  <div>
    <strong>Due date:</strong>
    <%= assignment.due_date %>
  </div>

  <div>
    <strong>Estimated hours:</strong>
    <%= assignment.estimated_hours %>
  </div>

  <div>
    <strong>Synced to calendar:</strong>
    <%= assignment.synced_to_calendar %>
  </div>

</div>
